<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccxg.mapper.TbScoreMapper">

    <select id="selectByStudent" parameterType="com.ccxg.entity.TbScore" resultType="com.ccxg.entity.TbScore">
        select * from tb_score
        <where>
            <if test="studentId != null">
                and Student_ID like "%"#{studentId}"%"
            </if>
            <if test="studentName != null">
                and Student_Name like "%"#{studentName}"%"
            </if>
            <if test="courseName != null">
                and Course_Name like "%"#{courseName}"%"
            </if>
        </where>
    </select>

</mapper>